<div class="row">
  <div class="col s12 center-align">
    <h1>JAM DETAILS</h1>
  </div>
</div>

<div class="row">
  <div class="col s12 l4">
    <div class="card white-transparent">
      <div class="card-content grey-text text-darken-3">
        <p><strong>Jam Host</strong>: <%=User.find(@session.host_id.to_i()).username() %> </p>
        <p><strong>Where</strong>: <%=@session.address%> </p>
        <p><strong>When</strong>: <%=@session.date%> at <%=@session.time.format_time%> </p>
      </div>
    </div>
  </div>
  <div class="col s12 l4">
    <div class="card white-transparent">
      <div class="card-content grey-text text-darken-3">
        <p> Instruments Needed: </p>
        <% @session.instruments.each() do |instrument| %>
          <p><%=instrument.name%> </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col s12 l4">
    <div class="card white-transparent">
      <div class="card-content grey-text text-darken-3">
        <p> Musicians Coming: </p>
        <%@session.users.each() do |user|%>
          <p><%=user.username%> </p>
        <%end%>
      </div>
    </div>
  </div>
</div>

<% if session[:user] != nil %>
<form id="add_user" name="add_user" action="/jams/<%= @session.id %>/user/<%= session[:user].id %>" method="post">
  <select type="text" name="instrument_id" id="instrument_id">
    <% @instruments.each() do |instrument| %>
      <option value="<%= instrument.id %>"> <%= instrument.name %> </option>
    <% end %>
  </select>
    <button type="submit">Join this Jam</button>
</form>
<% end %>
