
<div class="row">
  <div class="col s12 center-align">
    <h1>FIND A JAM</h1>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <% if @sessions.any?() %>
        <ol type="A">
          <% @sessions.each() do |session| %>
           <li><a href="/jams/<%= session.id %>"><%= session.date %> at <%= session.address %>, <%= session.city %>, <%= session.state %></a></li>
          <% end %>
        </ol>
        <p style="display:none;" class="lat"><%= session.latitude %></p>
        <p style="display:none;" class="lng"><%= session.longitude %></p>
    <% end %>
  </div>

  <div class="col s12 m6 right">
    <div class="z-depth-3 maps" id="map">
  </div>
</div>
