<h1>Jam Sessions</h1>
<div class="col s5 z-depth-3 maps right" id="map" style="width:800px;height:800px;">
</div>


<% if @sessions.any?() %>
  <% @sessions.each() do |session| %>
    <p style="display:none;" class="lat"><%= session.latitude %></p>
    <p style="display:none;" class="lng"><%= session.longitude %></p>
    <p style="display:none;" class="date"><%= session.date %></p>
    <p style="display:none;" class="id"><%= session.id %></p>
    <p style="display:none;" class="time"><%= session.time %></p>
    <p style="display:none;" class="instrument"><%= session.instrument.name %></p>
  <% end %>
<% end %>
